extends Base.pug 

block content
  // Hero Part
  nav(aria-label='breadcrumb')
    ol.breadcrumb
      li.breadcrumb-item
        a(href='/')
          span.color-front(style='margin-left:10px')
            strong Home
      li.breadcrumb-item
        a(href='Gallery')
          span.color-front(style='margin-left:10px')
            strong Gallery
  // Page Title Part
  .page_name
    h2 GALLERY
    img(src='../static/All IMAGE/APPLY section/line.png')
  // Gallery Part
  .container-fluid
    .row.mt-4
      .item.col-sm-6.col-md-4.mb-3
        a.fancybox(href='../static/ALL IMAGE/GALLERY/1.jpg' data-fancybox='gallery1')
        img(src='../static/ALL IMAGE/GALLERY/1.jpg' width='100%' height='100%' style='border: 2px solid black;')
      .item.col-sm-6.col-md-4.mb-3
        a.fancybox(href='../static/ALL IMAGE/GALLERY/10.jpg' data-fancybox='gallery1')
        img(src='../static/ALL IMAGE/GALLERY/10.jpg' width='100%' height='100%' style='border: 2px solid black;')
      .item.col-sm-6.col-md-4.mb-3
        a.fancybox(href='ALL IMAGE/GALLERY/12.jpg' data-fancybox='gallery1')
        img(src='../static/ALL IMAGE/GALLERY/12.jpg' width='100%' height='100%' style='border: 2px solid black')
      .item.col-sm-6.col-md-4.mb-3
        a.fancybox(href='../static/ALL IMAGE/GALLERY/13.jpg' data-fancybox='gallery1')
        img(src='../static/ALL IMAGE/GALLERY/13.jpg' width='100%' height='100%' style='border: 2px solid black')
      .item.col-sm-6.col-md-4.mb-3
        a.fancybox(href='../static/ALL IMAGE/GALLERY/14.jpg' data-fancybox='gallery1')
        img(src='../static/ALL IMAGE/GALLERY/14.jpg' width='100%' height='100%' style='border: 2px solid black')
      .item.col-sm-6.col-md-4.mb-3
        a.fancybox(href='../static/ALL IMAGE/GALLERY/16.jpg' data-fancybox='gallery1')
        img(src='../static/ALL IMAGE/GALLERY/16.jpg' width='100%' height='100%' style='border: 2px solid black')
      .item.col-sm-6.col-md-4.mb-3
        a.fancybox(href='../static/ALL IMAGE/GALLERY/4.jpg' data-fancybox='gallery1')
        img(src='../static/ALL IMAGE/GALLERY/4.jpg' width='100%' height='100%' style='border: 2px solid black')
      .item.col-sm-6.col-md-4.mb-3
        a.fancybox(href='../static/ALL IMAGE/GALLERY/6.jpg' data-fancybox='gallery1')
        img(src='../static/ALL IMAGE/GALLERY/6.jpg' width='100%' height='100%' style='border: 2px solid black')
      .item.col-sm-6.col-md-4.mb-3
        a.fancybox(href='../static/ALL IMAGE/GALLERY/9.jpg' data-fancybox='gallery1')
        img(src='../static/ALL IMAGE/GALLERY/9.jpg' width='100%' height='100%' style='border: 2px solid black')
      .item.col-sm-6.col-md-4.mb-3
        a.fancybox(href='../static/ALL IMAGE/GALLERY/17.jpg' data-fancybox='gallery1')
        img(src='../static/ALL IMAGE/GALLERY/17.jpg' width='100%' height='100%' style='border: 2px solid black')
      .item.col-sm-6.col-md-4.mb-3
        a.fancybox(href='../static/ALL IMAGE/GALLERY/18.jpg' data-fancybox='gallery1')
        img(src='../static/ALL IMAGE/GALLERY/18.jpg' width='100%' height='100%' style='border: 2px solid black')
      .item.col-sm-6.col-md-4.mb-3
        a.fancybox(href='../static/ALL IMAGE/GALLERY/19.jpg' data-fancybox='gallery1')
        img(src='../static/ALL IMAGE/GALLERY/19.jpg' width='100%' height='100%' style='border: 2px solid black')
      .item.col-sm-6.col-md-4.mb-3
        a.fancybox(href='../static/ALL IMAGE/GALLERY/23.jpg' data-fancybox='gallery1')
        img(src='../static/ALL IMAGE/GALLERY/23.jpg' width='100%' height='100%' style='border: 2px solid black')
      .item.col-sm-6.col-md-4.mb-3
        a.fancybox(href='../static/ALL IMAGE/GALLERY/24.jpg' data-fancybox='gallery1')
        img(src='../static/ALL IMAGE/GALLERY/24.jpg' width='100%' height='100%' style='border: 2px solid black')
      .item.col-sm-6.col-md-4.mb-3
        a.fancybox(href='../static/ALL IMAGE/GALLERY/25.jpg' data-fancybox='gallery1')
        img(src='../static/ALL IMAGE/GALLERY/25.jpg' width='100%' height='100%' style='border: 2px solid black')
